<p>list-other-condition works!</p>
<form [formGroup]="formGroup">
    <div formArrayName="employees">
        <div *ngFor="let emp of employees.controls; let i = index" [formGroupName]="i" class="employee">
            
            <b>Employee : {{i + 1}}</b>
       
          <p>Name :
            <input formControlName="empName">
            <br />
            
             
            
            <mat-error *ngIf="employees.controls[i].get('empName')?.errors?.required">empName is required</mat-error>
          </p>
          <p>Age :
            <input formControlName="age">
            <br />
 


            
            <mat-error   *ngIf="employees.controls[i].get('age')?.errors?.required"> Age required.</mat-error>
             
             
             
            
           
<mat-error *ngIf="employees.controls[i].get('age')?.errors?.min">
             
              Minimum age is 21.
          
</mat-error>
          <p>Skill :
            <select formControlName="skill">
              <option *ngFor="let skill of allSkills | async" [ngValue]="skill.name">
                {{ skill.displayName }}
              </option>
            </select>
            <br />
            <label
              *ngIf="employees.controls[i].get('skill')?.errors?.required"
             
              >
              Select skill.
            </label>
          </p>
          <p>
            <button type="button" (click)="deleteEmployee(i)">Delete</button>
          </p>
        
      </div>
      <button type="button" (click)="addEmployee()">Add More Employee</button>
    </div>
    </form>