<h3>Create New Team</h3>

<div class="team">
  <form [formGroup]="teamForm" (ngSubmit)="onFormSubmit()">
    <p>Team Name :
      <input formControlName="teamName">
      <br />
      
      <mat-error *ngIf="teamName?.errors?.['required']">teamName required</mat-error>
      
    </p>
    <div class="all-emp">
      <b>Employees in Team:</b>
      <br>
      <label *ngIf="employees.errors?.required" >
        Add Employees.
      </label>
      <label *ngIf="employees.errors?.maxlength" >
        Maximum number of Employees can be 5.
      </label>
      <br>
      </div>
  <p>
      <app-list-other-condition [formGroup]="teamForm" [employees]="employees" ></app-list-other-condition>
   
    <br/>
    <button  type="submit" [disabled]="!teamForm.valid">SUBMIT</button>

  </form>
</div>
<p>Form Status: {{ teamForm.status }}</p>